<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>id.ac.unsyiah.jte.mobile.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ClockServlet</servlet-name>
	    <servlet-class>id.ac.unsyiah.jte.mobile.ClockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ClockServlet</servlet-name>
	    <url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>PrefServlet</servlet-name>
	    <servlet-class>id.ac.unsyiah.jte.mobile.PrefServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>PrefServlet</servlet-name>
	    <url-pattern>/prefs</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>FormulirServlet</servlet-name>
	    <servlet-class>id.ac.unsyiah.jte.mobile.FormulirServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>FormulirServlet</servlet-name>
	    <url-pattern>/formulir</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>BilanganServlet</servlet-name>
	    <servlet-class>id.ac.unsyiah.jte.mobile.BilanganServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>BilanganServlet</servlet-name>
	    <url-pattern>/bilangan</url-pattern>
	</servlet-mapping>
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>prefs</web-resource-name>
	        <url-pattern>/prefs</url-pattern>
	    </web-resource-collection>
		<auth-constraint>
	    	<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	
	
</web-app>

